language: python
sudo: false
dist: xenial
notifications:
  email: change

branches:
  only:
    - master

python:
  - 3.5
  - 3.6
  - 3.7

env:
  matrix:
    - CHECK_TYPE=linting
    - CHECK_TYPE=docdoctest
    - CHECK_TYPE=test
  global:
    - INSTALL_TYPE=setup
    - OPENBLAS_NUM_THREADS=1
    - MKL_NUM_THREADS=1

matrix:
  include:
  - python: 3.6
    env:
      - INSTALL_TYPE=sdist
      - CHECK_TYPE=test
  - python: 3.6
    env:
      - INSTALL_TYPE=wheel
      - CHECK_TYPE=test
  - python: 3.6
    env:
      - INSTALL_NUMBA=true
      - CHECK_TYPE=test

before_install:
  - python -m pip install --upgrade pip
  - if [ "${CHECK_TYPE}" == "linting" ]; then
      pip install flake8;
    fi
  - if [ "${CHECK_TYPE}" == "test" ]; then
      pip install "pytest>=3.6" pytest-cov coverage codecov;
    fi
  - if [ ! -z "${INSTALL_NUMBA}"]; then
      pip install numba;
    fi

install:
  - |
    if [ "${INSTALL_TYPE}" == "setup" ]; then
      python setup.py install --single-version-externally-managed --root=/;
    elif [ "${INSTALL_TYPE}" == "sdist" ]; then
      python setup.py sdist;
      pip install dist/*.tar.gz;
    elif [ "${INSTALL_TYPE}" == "wheel" ]; then
      python setup.py bdist_wheel;
      pip install dist/*.whl;
    else
      false;
    fi

script:
  - |
    if [ "${CHECK_TYPE}" == "linting" ]; then
      flake8 snf;
    elif [ "${CHECK_TYPE}" == "docdoctest" ]; then
      cd docs;
      pip install -r ./requirements.txt;
      make html;
      make doctest;
    elif [ "${CHECK_TYPE}" == "test" ]; then
      mkdir for_testing && cd for_testing;
      cp ../setup.cfg .;
      args="--cov-report term-missing --cov=snf --doctest-modules --pyargs";
      python -m pytest ${args} snf;
    else
      false;
    fi

after_success:
  - if [ "${CHECK_TYPE}" == "test" ] && [ -z "${INSTALL_NUMBA}" ]; then
      codecov;
    fi
